body {
  font-size: 16px;
  line-height: 24px;
  background: #FFF url('/img/grey.png');
  background-attachment:fixed;
}

p {
  margin: 0 0 16px;
}

li {
  line-height: 24px;
}

.small {
  font-size: 0.9em;
}

.navbar {
  background-color: #ebebeb;
  background-color: rgba(0,0,0,0.05);
  border-bottom: 8px solid #6Ac;
}

footer {
  margin-top: 48px;
  padding: 24px 16px;
  border-top: 4px solid #6Ac;
}

.my-navbar-inner {
  min-height: 40px;
  padding: 0 16px;
}

.container-fat {
  margin: 0 auto;
  max-width: 900px;
}

.container-thin {
  margin: 0 auto;
  max-width: 700px;
}

.container-skinny {
  margin: 0 auto;
  max-width: 500px;
}

.post {
  margin: 10px 0 20px 0;
}

.post h2 {
  font-size: 22px;
  line-height: 24px;
  margin: 0 0 5px 0;
}

.post .date {
  display: block;
  color: #a9a9a9;
  font-size: 14px;
  line-height: 18px;
}

.poem {
  font-size: 22px;
  line-height: 36px;
}

.poem h1 {
  margin-bottom: 22px;
}

.masthead{
  background-color: #ebebeb;
  background-color: rgba(0,0,0,0.05);
  text-align: center;
  padding: 48px 24px;
}

.masthead h1 {
  font-size: 72px;
  line-height: 1;
}

.mastfoot{
  background-color: #ebebeb;
  background-color: rgba(0,0,0,0.05);
  text-align: center;
  margin: 48px 0 24px 0;
  padding: 24px 0;
}

@media (max-width: 767px) {

  .navbar, footer{
    margin-right: -20px;
    margin-left: -20px;
  }
}

.dl-horizontal dt{
  width: 120px;
  font-weight: normal;
}
.dl-horizontal dd {
  margin-left: 130px;
}
