<div class="text-center">
  <img src="/img/ageless-banner.png" alt="Ageless banner" class="w-full mb-8"/>

  <div class="mb-8 py-8">
    <h1 class="text-4xl font-bold mb-4">The New Book from C.M. Russell</h1>
    <div class="text-3xl">More info coming soon</div>
  </div>

  {% include "mailingListForm.njk" %}
</div>