---
layout: layouts/base.njk
title: Ageless
description: The new book from C.M. Russell
image: /img/ageless-banner.png
---
<div class="text-centerx">
  <h1 class="invisible">AGELESS - A new novel by C.M. Russell</h1>
  <img src="/img/ageless-banner.png" alt="Ageless banner" class="w-full mb-8"/>

  <div class="text-xl space-y-4 *:leading-relaxed mb-8 md:px-16">
    <div>Two stories, centuries apart. One woman’s life.</div>
    <div>She has beautiful family, a loving husband and a perfect life, but after sickness took her close to death, she recovers to find that <span class="italic">she does not age</span>.</div>
    <div>Outliving her loved ones, mourning their loss, she finds herself alone in a world that won’t stop changing. Having to navigate the rise, fall and eventual collapse of society, she must now fight for her survival.</div>
    <div>Centuries on a new ice age dawns. Hidden deep in the mountains, she is forced from safety by the encroaching ice. Now she must travel across lawless lands, through ruins of a world only she remembers, to find herself a new home.</div>
    <div>Dictators and liberators.</div>
    <div>Bandits and rescuers.</div>
    <div>Love. Hope.</div>
    <div>Fear. Betrayal.</div>
    <div class="font-bold">AGELESS</div>
    <div class="italic pt-4">A new novel by C.M. Russell</div>
  </div>

  {% include "mailingListForm.njk" %}
</div>