<div>
	<div class="mb-8">
		{% include "mailingListForm.njk" %}
	</div>
	<div class="divide-y">
		{% for post in collections.posts | reverse %}
			{% include "postcard.njk" %}
		{% endfor %}
	</div>
</div>