---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---

<div class="flex justify-between">
	<div class="flex-none flex flex-col justify-between">
		<img src="/img/avatar.jpeg" alt="Avatar" class="rounded-full w-48 h-48">
		<div class="flex justify-center gap-4 pt-4">
			<a class="border-box align-middle text-center rounded leading-8 bg-stone-300 w-8 h-8" href="/">X</a>
			<a class="border-box align-middle text-center rounded leading-8 bg-stone-300 w-8 h-8" href="/">X</a>
			<a class="border-box align-middle text-center rounded leading-8 bg-stone-300 w-8 h-8" href="/">X</a>
		</div>
	</div>
	<div class="flex-1 pl-8">
		<div class="text-xl mb-4">Hello, I'm Craig 👋</div>

		<ul role="list" class="space-y-4">
			<li class="flex gap-x-2">
				<div>👾</div>
				<div>By day I write software, with special expertise in identity management.<br/>
					Connect on <a href="" target="_blank" class="font-bold hover:underline">LinkedIn</a> if you need help with your project.</div>
			</li>
			<li class="flex gap-x-2">
				<div>📚</div>
				<div>By night I write optimistic, apocalyptic, humanistic sci-fi.<br/>
					My current book is <a href="/" class="font-bold hover:underline">AGELESS</a>.</div>
			</li>
			<li class="flex gap-x-2">
				<div>❤️</div>
				<div>I also run <a href="https://impactgo.uk" target="_blank" class="font-bold hover:underline">ImpactGo</a>, 
					for charities and social enterprises to measure the impact of their work.</div>
			</li>
		</ul>
	</div>
</div>

<div class="border-t">
	<div class="divide-y">
		{% for post in collections.posts | reverse %}
			<div class="py-8">
				<h2 class="text-2xl font-bold mb-2">
					<a href="{{ post.url }}">{{ post.data.title }}</a>
				</h2>
				{{ post.data.description | safe }}
			</div>
		{% endfor %}
	</div>

	{# {% set postsCount = collections.posts | length %}
	{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

	<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}
	</h1>

	{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
	{% set postslistCounter = postsCount %}
	{% include "postslist.njk" %}

	{% set morePosts = postsCount - numberOfLatestPostsToShow %}
	{% if morePosts > 0 %}
	{% endif %} #}

	{# List every content page in the project #}
	{# <ul>
		{%- for entry in collections.posts %}
			<li>
				<a href="{{ entry.url }}">
					<code>{{ entry.url }}</code>
				</a>
			</li>
		{%- endfor %}
	</ul> #}
</div>