---
layout: layouts/base.njk
title: Never Even - A Short Paradox Tale
description: Never Even - A Short Paradox Tale, by C.M. Russell
image: /img/never-even-bundle.jpg
---
<div>
  <h1 class="invisible">Never Even - A Short Paradox Tale</h1>

  <div class="px-16">
    <img src="/img/never-even-2.JPG" alt="Never Even" class="w-full mb-8"/>
  </div>

  <div class="text-xl space-y-4 *:leading-relaxed mb-8 md:px-16">
   <div>What if you could rewrite your past?</div>
    <div>Desperate to save his family, a time-traveling hero turns villain, forever trapped in a paradox of vengeance.</div>
    <div class="italic pt-4">The new short story by C.M. Russell</div>

    <div class="text-xl flex justify-between py-8">
      <a href="https://www.amazon.com/dp/B0F223S91J" target="_blank" class="bg-blue-500 p-2 px-4 hover:bg-blue-700 text-white font-bold rounded">
        Buy Now on Amazon.com
      </a>
      <a href="https://www.amazon.co.uk/dp/B0F223S91J" target="_blank" class="bg-blue-500 p-2 px-4 hover:bg-blue-700 text-white font-bold rounded">
        Buy Now on Amazon.co.uk
      </a>
    </div>
  </div>

  {% include "mailingListForm.njk" %}
</div>