---
layout: layouts/base.njk
title: Never Even - A Short Paradox Tale
description: Never Even - A Short Paradox Tale, by C.M. Russell
image: /img/never-even-bundle.jpg
---
<div class="text-centerx">
  <h1 class="invisible">Never Even - A Short Paradox Tale</h1>

  <div class="px-16">
    <img src="/img/never-even-2.JPG" alt="Never Even" class="w-full mb-8"/>
  </div>

  <div class="text-xl space-y-4 *:leading-relaxed mb-8 md:px-16">
   <div>What if you could rewrite your past?</div>
    <div>Desperate to save his family, a time-traveling hero turns villain, forever trapped in a paradox of vengeance.</div>
  </div>

  <div class="text-center text-xl space-y-4 *:leading-relaxed mb-16 md:px-16">
    <a href="https://amzn.eu/d/bf8ojRa" class="bg-blue-500 text-2xl hover:bg-blue-700 text-white font-bold py-4 px-8 rounded">
      Buy Now on Amazon
    </a>
  </div>

  {% include "mailingListForm.njk" %}
</div>