<div class="flex justify-between border rounded p-4 md:p-8 md:space-x-8 space-x-4">
  <div class="flex-none flex flex-col">
    <img src="/img/avatar.jpeg" alt="Avatar" class="rounded-full md:w-36 md:h-36 w-24 h-24">
    <div class="hidden md:flex justify-center gap-4 pt-4">
      <a class="border-box align-middle text-center rounded leading-8 bg-stone-300 w-8 h-8" href="/">X</a>
      <a class="border-box align-middle text-center rounded leading-8 bg-stone-300 w-8 h-8" href="/">X</a>
      <a class="border-box align-middle text-center rounded leading-8 bg-stone-300 w-8 h-8" href="/">X</a>
    </div>
  </div>

  <div class="flex-1 space-y-2 text-base">
    <div>Hello, I'm Craig 👋</div>
    <div>By day I write software, with special expertise in identity management.</div>
    <div>By night I write optimistic, apocalyptic, humanistic sci-fi.<br/>
					My current book is <a href="/ageless" class="font-bold hover:underline">AGELESS</a>.</div>
    <div>I also run <a href="https://impactgo.uk" target="_blank" class="font-bold hover:underline">ImpactGo</a>, 
					for charities and social enterprises to measure the impact of their work.</div>
  </div>
</div>