<div class="border rounded bg-amber-50 border-amber-100 shadow-md">
  <h2 class="ml-4 mt-4 text-xl">Join my newsletter to keep updated! 💌</h2>
  <div class="ml-embedded" data-form="vWAoAy"></div>
</div>