<a href="{{ post.url }}" class="group block rounded mb-8 hover:shadow-md">
  <img src="{{ post.data.image }}" alt="{{ post.data.title }}" class="rounded-t group-hover:brightness-110">
  <div class="p-4 border border-t-0 rounded-b border-stone-200">
    <h2 class="text-3xl font-bold mb-2 group-hover:underline">
      {{ post.data.title }}
    </h2>
    <div class="mb-2">
      {{ post.data.description | safe }}
    </div>
    <div class="text-gray-500 text-sm">
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      {%- for tag in post.data.tags | filterTagList %}
        <span class="font-bold">{{ tag }}</span>
        {%- if not loop.last %}, {% endif %}
      {%- endfor %}
    </div>
  </div>
</a>