---
layout: default
---
<div id="wrapper">
  <header>
    <nav id="nav">
      <ul>
        <li><h1><a href="/">Craig Russell</a></h1></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/links/">Link Dump</a></li>
        <!-- <li><a href="/papertoys/">Paper Toys</a></li> -->
      </ul>
    </nav>
  </header>

  <div class="clearfix">
    {{ content }}
  </div>

  <footer class="footer">
    <p>
      &copy; 2012 Craig Russell |
      <a href="https://github.com/craig552uk/craig552uk.github.com">source</a> |
      <a href="/demos/">demos</a> |
      <a href="/atom.xml">feed</a>
    </p>
  </footer>
</div>