---
layout: header
---
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  {{ content }}

  <!--
  <p>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="craig552uk" data-size="large">Tweet</a>
  </p>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  -->

  <hr/>

  <!-- AddThis Button BEGIN -->
  <p class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_preferred_1"></a>
    <a class="addthis_button_preferred_2"></a>
    <a class="addthis_button_preferred_3"></a>
    <a class="addthis_button_compact"></a>
    <a class="addthis_counter addthis_bubble_style"></a>
  </p>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fbe20610fe6e95c"></script>
  <!-- AddThis Button END -->

  <hr/>

  <section class="ads">
    <a href="http://handcraftedinteractives.co.uk/?c=blog">
      <img src="/img/hci-banner1.png" width="600" height="200" alt="I can build you a Hand-Crafted Interactive. Find out more..."/>
    </a>
  </section>

  <hr/>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'craigrussell';
      var disqus_identifier = '{{ page.id }}';
      var disqus_url = 'http://craig552uk.github.com{{ page.url }}';

      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

</div>