<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="stylesheet" href="/style.css?v={% version %}"/>
	</head>
	<body>
		<a href="#skip" class="invisible">Skip to main content</a>

		<div class="container mx-auto max-w-3xl px-8">

			<header class="pb-12">
				<div class="text-3xl font-bold">
					<a href="/" class="hover:underline">{{ metadata.title }}</a>
				</div>
				<div class="text-xl">{{ metadata.subtitle }}</div>
			</header>

			<main id="skip" class="space-y-12">
				{% block content %}
					{{ content | safe }}
				{% endblock %}
			</main>

			<footer class="text-center text-gray-400 text-sm py-12">
				&copy; 2024 CM Russell Limited
			</footer>

		</div>
	</body>
</html>