<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-KD7MWD7BBF"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());
			gtag('config', 'G-KD7MWD7BBF');
			gtag('consent', 'default', {
				'ad_storage': 'denied',
				'ad_user_data': 'denied',
				'ad_personalization': 'denied',
				'analytics_storage': 'denied'
			});
		</script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="stylesheet" href="/style.css?v={% version %}"/>
	</head>
	<body>
		<a href="#skip" class="invisible">Skip to main content</a>

		<div class="container mx-auto max-w-3xl px-8">

			<header class="flex justify-between pb-12">
				<div>
					<div class="text-3xl font-bold">
						<a href="/" class="hover:underline">{{ metadata.title }}</a>
					</div>
					<div class="text-xl">{{ metadata.subtitle }}</div>
				</div>
				<ul class="flex flex-col md:flex-row *:ml-4 *:mb-2 text-lg">
					<li>
						<a href="/" class="hover:underline">Home</a>
					</li>
					<li>
						<a href="/blog" class="hover:underline">Blog</a>
					</li>
				</ul>
			</header>

			<main id="skip" class="space-y-12">
				{% block content %}
					{{ content | safe }}
				{% endblock %}
			</main>

			<footer class="text-center text-gray-400 text-sm py-12">
				&copy; 2024 CM Russell Limited
				- <a href="/website-terms-of-use">Terms</a>
			</footer>
		</div>

		<div id="cookie-consent" class="sticky bottom-4 max-w-3xl mx-auto px-8">
			<div class="py-2 px-4 bg-amber-100 rounded" role="alert">
				<div class="text-sm flex justify-between">
					<span class="py-2">
						This site uses cookies to enhance user experience. 
						See <a href="/cookie-policy" class="underline">Cookie policy</a>
					</span>
					<span>
						<button 
							class="border rounded p-2 bg-sky-500 hover:bg-sky-400 text-white shadow-sm pointer" 
							onClick="acceptCookies()">
							Allow cookies
						</button>
					</span>
				</div>
			</div>
		</div>

		<script>
			const cookieConsent = document.querySelector('#cookie-consent');
			// Remove cookie consent banner if cookie present
			if (document.cookie.indexOf('cookie_consent=true') > -1 && cookieConsent) {
				cookieConsent.remove();
			}

			// Set cookie on button click
			function acceptCookies() {
				document.cookie = 'cookie_consent=true; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/';
				gtag('consent', 'update', {
					'ad_storage': 'granted',
					'ad_user_data': 'granted',
					'ad_personalization': 'granted',
					'analytics_storage': 'granted'
				});
				cookieConsent.remove();
			}
		</script>
	</body>
</html>